/* ---1.CSV upload CSS--- */
.pdfobject-container {
  height: 500px;
}

.pdfobject {
  border: 1px solid #666;
}

table.csv.table {
  margin-bottom: 0px;
}

table.csv.table tr:last-child {
  display: none;
}

/* Scrollable table */
table.csv.table tbody {
  display: block;
  height: 250px;
  overflow: auto;
  width: 100%;
}

table.csv.table tr {
  display: table;
  overflow: auto;
  width: 100%;
}

.table.csv>tbody>tr>td {
  width: 13%;
}
